variables:
  DOCKER_DRIVER: overlay
default:
  before_script:
    - echo "Gitlab Runner Stage $CI_JOB_STAGE"
  image:
    name: $DOCKER_URI/kudos-development:latest
stages:
  - lint_code
  - lint_config
  - build_image
  - test_image

lint_code:
  stage: lint_code
  script:
    - pip install -r ./dev/requirements.txt
    - pylint --init-hook="import pylint_venv; pylint_venv.inithook('/builds/mapu/kudos/env')" ./kudos_oss

lint_config:
  stage: lint_config
  script:
    - ansible-lint ./build/config.yml
  dependencies:
    - lint_code
build_image:
  stage: build_image
  script:
    - ansible-bender build  ./build/config.yml
    # - ansible-bender build  --entrypoint "/entrypoint.sh" ./build/config.yml
    - ansible-bender list-builds
    - ansible-bender push $DOCKER_URI/kudos:test 1
  dependencies:
    - lint_config
test_image:
  stage: test_image
  image: $DOCKER_URI/gl-docker:latest
  # services:
  # - $DOCKER_URI/ab-webserver
  # tags:
  #   - docker
  script:
    - echo "Testing web server"
    - pwd
    - $(aws ecr get-login --no-include-email --region us-east-1)
    - docker images
    - docker run -d -i $DOCKER_URI/kudos:test
    - docker ps
    - echo "Whooop whoop"
  dependencies:
    - build_image
