variables:
  DOCKER_DRIVER: overlay
default:
  before_script:
    - echo "Gitlab Runner Stage $CI_JOB_STAGE"
  image:
    name: $DOCKER_URI/kudos-development:latest
stages:
  - lint_code
  - lint_config
  - build_image
  - test_image

lint_code:
  stage: lint_code
  script:
    - python3 -m venv env
    - source ./env/bin/activate
    - pip3 install -r ./dev/requirements.txt
    - pylint --rcfile=./dev/.pylintrc ./app

lint_config:
  stage: lint_config
  script:
    - ansible-lint ./build/config.yml
  dependencies:
    - lint_code
build_image:
  stage: build_image
  script:
    - echo "Building stuff here"
    - cd build
    - packer build config.json
    - docker images
  dependencies:
    - lint_config
test_image:
  stage: test_image
  # services:
  # - $DOCKER_URI/ab-webserver
  # tags:
  #   - docker
  script:
    - echo "Testing web server"
    - $(aws ecr get-login --no-include-email --region us-east-1)
    - docker images
    - docker run -d -i --name test_container $DOCKER_URI/kudos:latest
    - sleep 6
    - docker ps
    - docker rm -f test_container
    - docker rmi -f $DOCKER_URI/kudos:latest
    - docker ps
    - docker images
  dependencies:
    - build_image
