variables:
  DOCKER_DRIVER: overlay
default:
  before_script:
    - echo "Gitlab Runner Stage $CI_JOB_STAGE"
  image:
    name: $DOCKER_URI/alpine-toolbox:latest
stages:
  - lint_code
  - lint_config
  - build_image
  - test_image
  - push_image

lint_code:
  stage: lint_code
  script:
    - python3 -m venv env
    - source ./env/bin/activate
    - pip3 install -r ./dev/requirements.txt
    - pylint --rcfile=./dev/.pylintrc ./app

lint_config:
  stage: lint_config
  script:
    - ansible-lint ./build/config.yml
  dependencies:
    - lint_code
build_image:
  stage: build_image
  script:
    - $(aws ecr get-login --no-include-email --region us-east-1)
    - echo "Build image and push to dev repo - $DOCKER_URI."
    - cd build
    - packer build config.json
    - docker images
    - echo "Remove image from gitlab runner local repo."
    - docker rmi $DOCKER_URI/kudos:latest
  dependencies:
    - lint_config
test_image:
  stage: test_image
  # services:
  # - $DOCKER_URI/ab-webserver
  script:
    - echo "Testing web server (also validates pull from dev repo)."
    - $(aws ecr get-login --no-include-email --region us-east-1)
    - docker images
    - docker pull $DOCKER_URI/kudos:latest
    - docker images
    - docker run -d -i --name test_container $DOCKER_URI/kudos:latest
    - sleep 30
    - docker ps
    - echo "Remove Container and Image"
    - docker rm -f test_container
    - docker rmi $DOCKER_URI/kudos:latest
  dependencies:
    - build_image
push_image:
  stage: push_image
  script:
    - $(aws ecr get-login --no-include-email --region us-east-1)
    - echo "Pushing web server to repo"
    - echo "This would normall deploy the next level repo using packer push"
  dependencies:
    - test_image
