variables:
  DOCKER_DRIVER: overlay
default:
  before_script:
    - echo "Gitlab Runner Stage $CI_JOB_STAGE"
  image:
    name: $DOCKER_URI/kudos-env:latest
stages:
  - lint_code
  - lint_config
  - build_image
  - test_image

lint_code:
  stage: lint_code
  script:
    - pip install -r ./dev/requirements.txt
    - pylint --init-hook="import pylint_venv; pylint_venv.inithook('/builds/mapu/kudos/env')" ./kudos_oss

lint_config:
  stage: lint_config
  script:
    - ansible-lint ./build/config.yml
  dependencies:
    - lint_code
build_image:
  stage: build_image
  script:
    - ansible-bender build ./build/config.yml
    - ansible-bender list-builds
    - ansible-bender push $DOCKER_URI/kudos-prod:latest 1
  dependencies:
    - lint_config
test_image:
  stage: test_image
  # image: $DOCKER_URI/gl-docker:latest
  # services:
  # - $DOCKER_URI/ab-webserver
  # tags:
  #   - docker
  script:
    # - echo "Testing web server"
    # - curl -s $DOCKER_URI-ab-webserver:8080
    - echo "No build config yet"
  dependencies:
    - build_image
